config BOARD_SLICEMK_ERGODOX_LEFT
    bool "SliceMK ErgoDox Left"
    depends on SOC_NRF52833_QIAA

config BOARD_SLICEMK_ERGODOX_RIGHT
    bool "SliceMK ErgoDox Right"
    depends on SOC_NRF52833_QIAA
